<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >
<suite name="API" verbose="1">
    <listeners>
        <listener class-name="ru.mobiledimension.megaapp.wms.utilities.AllureListener"/>
    </listeners>

    <test name="WMS">
        <classes>
            <class name="ru.mobiledimension.megaapp.wms.tests.GetStateReference.GetStateReferenceTest"/>
            <class name="ru.mobiledimension.megaapp.wms.tests.GetStatePurchases.GetStatePurchasesTest"/>
            <class name="ru.mobiledimension.megaapp.wms.tests.RegisterPurchase.RegisterPurchaseTest"/>
            <class name="ru.mobiledimension.megaapp.wms.tests.RegisterShipping.RegisterShippingPointDeliveryTest"/>
            <class name="ru.mobiledimension.megaapp.wms.tests.RegisterShipping.RegisterShippingParkingDeliveryTest"/>
            <class name="ru.mobiledimension.megaapp.wms.tests.RegisterShipping.RegisterShippingMEGAAutoDeliveryTest"/>
        </classes>
    </test>
</suite>